/*--------------------------------*
 * Main                           *
 *--------------------------------*/

/* Main Body */
.main-body {
	position: relative;
	top: 188px;
	padding: 25px 3%;
	display: flex;
	flex-direction: column;
	opacity: 1;
}
.main-body > section {
	margin: 10px 0;
}
.main-body.animate {
	transition: opacity 0.2s ease-in;
}
.main-body.hide {
	opacity: 0 !important;
}

/* Section */
.section {
	color: var(--dark);
	background: rgb(249,252,255);
	background: linear-gradient(153deg, rgba(249,252,255,1) 0%, rgba(253,254,254,1) 50%, rgba(254,254,254,1) 100%);
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.section > article {
	text-align: center;
	padding: 40px 4%;
}
.section > article > h2 {
	color: var(--dark);
}
.section > article > h2 > i {
	margin-right: 0.6em;
}

/*--------------------------------*
 * Footer                         *
 *--------------------------------*/

.footer {
	background: rgb(42, 54, 75);
	background: linear-gradient(45deg, rgba(42, 54, 75, 1) 0%, rgba(36, 43, 56, 1) 50%, rgba(22, 21, 62, 1) 100%);
	bottom: 0;
	position: fixed;
	display: flex;
	justify-content: end;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.footer > div {
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 20px;
	padding-left: 20px;
	color: var(--light);
	font-weight: bold;
	font-family: "Taviraj";
	font-size: 18px;
}
.footer > div > a {
	color: var(--red);
}

/*--------------------------------*
 * Typography                     *
 *--------------------------------*/

/* Text */
h1 {
	font-size: 60px;
	font-weight: bold;
	font-family: "Taviraj";
}
h2 {
	font-size: 40px;
	font-weight: bold;
	font-family: "Taviraj";
}
h3 {
	font-size: 30px;
	font-weight: bold;
	font-family: "Taviraj";
}
p {
	font-size: 20px;
	font-family: "Kanit";
}

/* Media query for Small Desktop */
@media only screen and (max-width: 1200px) {
	/* Main body */
	.main-body {
		top: 165px;
	}

	/* Reduce Cover font size */
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 26px;
	}
	p {
		font-size: 18px;
	}
}

/* Media query for Smartphone */
@media only screen and (max-width: 786px) {
	/* Main body */
	.main-body {
		top: 76px;
	}
	.main-body {
		padding: 3% 4%;
	}

	/* Footer */
	.footer > div {
		font-size: 12px;
	}

	/* Reduce font size */
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 20px;
	}
	p {
		font-size: 14px;
	}
}
