/*--------------------------------*
 * Home Cover                     *
 *--------------------------------*/

/* Home Page */
.main-cover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("/static/images/cover.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	width: 100%;
}
.main-cover {
	backdrop-filter: blur(4px);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px 4%;
	position: relative;
}
.main-cover > h1 {
	color: var(--light);
	padding-bottom: 10px;
}
.main-cover > p {
	color: var(--light-gray);
}

/*--------------------------------*
 * Cooling tower type             *
 *--------------------------------*/

/* Cooling Tower type */
.cooling-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15px;
}
.cooling-type > article {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	padding: 20px;
	width: 100%;
}
.cooling-type > #square {
	flex-direction: column;
}
.cooling-type > article > img {
	height: 250px;
	margin-inline: auto;
	width: 100%;
}
.cooling-type > article > div {
	border-radius: 10px;
	padding: 15px 20px;
}
.cooling-type > article > div > h3 {
	color: var(--dark);
	margin-bottom: 0.3em;
}
.cooling-type > article > div > p {
	color: var(--dark-gray);
	text-align: start;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* Cooling type */
	.cooling-type {
		flex-direction: column;
	}

	.cooling-type > article {
		align-content: center;
		flex-direction: row;
		margin: 10px 0;
		width: 100%;
	}

	.cooling-type > article > img {
		transition: transform 200ms;
		width: 600px;
	}

	.cooling-type > article > img:hover {
		cursor: pointer;
		transform: scale(1.01);
		transition: transform 200ms;
	}


	.cooling-type > article > div {
		flex-basis: fit-content;
	}

	.cooling-type > #square {
		flex-direction: row-reverse;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.cooling-type {
		flex-direction: row;
	}

	.cooling-type > article > img {
		height: 400px;
		width: 100%;
	}

	.cooling-type > article {
		flex-direction: column;
		margin: 10px;
		width: 100%;
	}

	.cooling-type > article > div {
		padding: 30px 10px;
	}

	.cooling-type > #square {
		flex-direction: column;
	}
}
