/*--------------------------------*
 * Main                           *
 *--------------------------------*/

/* Main Body */
.main-body {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	opacity: 1;
	position: relative;
	top: 70px;
	width: 100%;
}
.main-body > section {
	margin: 0.4rem 0;
}

/* Section */
.section-header {
	background-color: var(--light);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	position: relative;
}
.section-header {
}

.section {
	text-align: center;
}
.section > p {
	padding-inline: 20px;
	text-align: start;
}
.section h2 {
	color: var(--dark);
	margin-bottom: 10px;
}
.section h2 > i {
	margin-right: 0.6em;
}

/* Images */

/*--------------------------------*
 * Header                         *
 *--------------------------------*/

/* Header Wrapper */
.header-wrapper {
	background: var(--light);
	position: fixed;
	width: 100%;
	right: 0;
	z-index: 1;
}

/* Header Logo */
.logo {
	display: flex;
	align-items: baseline;
	justify-content: left;
	margin: auto;
	padding: 0.5rem 1rem;
}
.logo-text > .main {
	color: var(--dark);
	font-size: 2rem;
	font-style: italic;
	font-weight: 500;
}
.logo-text > .sub {
	display: none;
	color: var(--dark);
	font-size: 1.2rem;
	margin-left: 0.5rem;
	font-weight: 400;
	font-style: italic;
}
.logo-contact {
	display: none;
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
}
.collapse-button {
	background: transparent;
	border: none;
	font-size: 1.4rem;
	padding-top: 0.8rem;
	margin-right: 2rem;
}
.collapse-button:hover {
	cursor: pointer;
}
.collapse-button > img {
	height: fit-content;
}

/*--------------------------------*
 * Script                     *
 *--------------------------------*/

/* Header Script Bar */
.header-wrapper > nav {
	align-items: center;
	display: none;
	margin-inline: auto;
	width: 1100px;
}
.header-wrapper > nav > ul {
	display: flex;
	margin-bottom: 10px;
}
.header-wrapper > nav .nav-item {
	display: inline-block;
	list-style-type: none;
}
.header-wrapper > nav .nav-item > a {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: var(--dark);
	cursor: pointer;
	font-size: 1rem;
	padding: 8px 30px;
	text-decoration: none;
}
.header-wrapper > nav .nav-item > a.active {
	background: rgb(57, 73, 101);
	background: linear-gradient(45deg, rgba(57, 73, 101, 1) 0%, rgba(36, 43, 56, 1) 50%, rgba(22, 21, 62, 1) 100%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

	color: var(--light) !important;
	font-weight: bold !important;
}
.header-wrapper > .nav .nav-item > :not(.active):hover {
}

/* Mobile Script */
.mobile-nav-wrapper {
	background-color: var(--light);
	border-radius: 0 20px 20px 0;
	left: 0;
	padding-bottom: 40px;
	padding-right: 20px;
	padding-top: 40px;
	pointer-events: none;
	position: fixed;
	top: 60px;
	transform: translateX(-355px);
	width: 350px;
	z-index: 99999;
}
.mobile-nav-overlay {
	background: rgba(0, 0, 0, 0.4);
	height: 100vh;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
	width: 100vw;
	will-change: opacity;
	z-index: 99998;
}
.nav-animate {
	transition: transform 130ms ease-in;
}
.nav-animate.nav-show {
	transition: transform 330ms ease-out;
}

.mobile-nav-wrapper > .mobile-nav > ul {
	display: flex;
	flex-direction: column;
}
.mobile-nav-wrapper > .mobile-nav .nav-item {
	display: inline-block;
	list-style-type: none;
}
.mobile-nav-wrapper > .mobile-nav .nav-item > a {
	background: transparent;
	border: none;
	border-radius: 0 10px 10px 0;
	color: var(--dark);
	display: flex;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 15px 40px;
	text-align: start;
	text-decoration: none;
	width: 100%;
}
.mobile-nav-wrapper > .mobile-nav .nav-item > a > img {
	height: 30px;
	margin-right: 20px;
	width: 30px;
}
.mobile-nav-wrapper > .mobile-nav .nav-item > a.active {
	background: rgb(57, 73, 101);
	background: linear-gradient(45deg, rgba(57, 73, 101, 1) 0%, rgba(36, 43, 56, 1) 50%, rgba(22, 21, 62, 1) 100%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	color: var(--light) !important;
	cursor: pointer;
	font-weight: bold !important;
}
.mobile-nav-wrapper > .mobile-nav .nav-item > a.active > img {
	filter: invert(100%) sepia(9%) saturate(592%) hue-rotate(263deg) brightness(110%) contrast(101%) !important;
}
.mobile-nav-wrapper > .mobile-nav .nav-item > a.active > i {
	color: var(--light) !important;
}
.mobile-nav-wrapper > .mobile-nav .nav-item > :not(.active):hover {
}

.mobile-nav-wrapper > .mobile-nav-footer {
	margin-top: 20px;
	width: 100%;
}
.mobile-nav-wrapper > .mobile-nav-footer > .text {
	color: var(--dark);
	font-size: 26px;
	padding-right: 30px;
	text-align: end;
	width: 100%;
}
.mobile-nav-wrapper > .mobile-nav-footer > .contact {
	color: var(--dark);
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	padding-right: 30px;
	text-align: end;
	width: 100%;
}

/*--------------------------------*
 * Footer                         *
 *--------------------------------*/

.footer {
	background: rgb(42, 54, 75);
	background: linear-gradient(45deg, rgba(42, 54, 75, 1) 0%, rgba(36, 43, 56, 1) 50%, rgba(22, 21, 62, 1) 100%);
	bottom: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 1);
	display: flex;
	justify-content: end;
	position: fixed;
	width: 100%;
}
.footer > div {
	color: var(--light);
	font-size: 18px;
	font-weight: bold;
	margin-inline: auto;
	padding: 6px 20px 4px;
	text-align: end;
	width: 1100px;
}
.footer > div > a {
	color: var(--red);
}
.footer > div > a:hover {
}

/* Tablet */
@media only screen and (min-width: 768px) {
	.collapse-button {
		display: none;
	}
	.logo-text .sub {
		display: inline-block;
	}
}

/* Desktop */
@media only screen and (min-width: 1100px) {
	.logo {
		width: 1100px;
		justify-content: space-between;
	}
	.logo-contact {
		display: block;
	}
}
