/*--------------------------------*
 * Root                           *
 *--------------------------------*/

* {
	font-family: "Kanit", sans-serif;
}

.img-contain {
	height: 200px;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
}
