/*--------------------------------*
 * Services                       *
 *--------------------------------*/

.cooling-service {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	margin-top: 15px;
	gap: 1rem;
}
.cooling-service > article {
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	padding: 20px;
	width: 100%;
}
.cooling-service > article > img {
	height: 250px;
	margin-inline: auto;
	width: 100%;
}
.cooling-service > article > h3 {
	color: var(--dark);
	margin-top: 0.6em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.cooling-service {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.cooling-service > article > img {
		transition: transform 200ms;
	}

	.cooling-service > article > img:hover {
		cursor: pointer;
		transform: scale(1.01);
		transition: transform 200ms;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.cooling-service {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
