/*--------------------------------*
 * Works                          *
 *--------------------------------*/

.works {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15px;
}
.works > article {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	padding: 20px;
	width: 100%;
}
.works > article > h3 {
	margin-bottom: 1em;
}
.works > article > div {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.works > article > div > img {
	border: 1px solid var(--light-gray);
	height: 300px;
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.works > article > div {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.works > article > div {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
