<div class="header-wrapper">
	<header class="logo">
		<button id="mobileNavigationButton" class="collapse-button" title="เปิดเมนู">
			<img class="icon icon-dark" src="/svgs/bars.svg" alt="ไอคอนเปิดเมนู">
		</button>
		<div class="logo-text">
			<span class="main"><span class="colon">:</span>kobcooling.com</span>
			<span class="sub">cooling tower, services</span>
		</div>
		<div class="logo-contact">โทร 085-982-3898 คุณกบ</div>
	</header>
	<nav class="nav">
		<ul>
			<li class="nav-item"><a href="/" class="home" title="หน้าหลัก">หน้าหลัก</a></li>
			<li class="nav-item"><a href="/products" class="products" title="สินค้า">สินค้า</a></li>
			<li class="nav-item"><a href="/services" class="services" title="บริการ">บริการ</a></li>
			<li class="nav-item"><a href="/works" class="works" title="ผลงาน">ผลงาน</a></li>
			<li class="nav-item"><a href="/contact" class="contact" title="ติดต่อเรา">ติดต่อเรา</a></li>
		</ul>
	</nav>
</div>
<div id="mobileNavigationOverlay" class="mobile-nav-overlay"></div>
<div id="mobileNavigation" class="mobile-nav-wrapper">
	<nav class="mobile-nav">
		<ul>
			<li class="nav-item"><a href="/" class="home" title="หน้าหลัก"><i class="fa-solid fa-fw fa-house"></i>หน้าหลัก</a></li>
			<li class="nav-item"><a href="/products" class="products" title="สินค้า"><i class="fa-solid fa-fw fa-box-open"></i>สินค้า</a></li>
			<li class="nav-item"><a href="/services" class="services" title="บริการ"><i class="fa-solid fa-fw fa-screwdriver-wrench"></i>บริการ</a></li>
			<li class="nav-item"><a href="/works" class="works" title="ผลงาน"><i class="fa-solid fa-fw fa-image"></i>ผลงาน</a></li>
			<li class="nav-item"><a href="/contact" class="contact" title="ติดต่อเรา"><i class="fa-solid fa-fw fa-address-card"></i>ติดต่อเรา</a></li>
		</ul>
	</nav>
	<footer class="mobile-nav-footer">
		<div class="text">cooling tower, services</div>
		<div class="contact">โทร 082-423-2132 คุณกบ</div>
	</footer>
</div>

<script defer async src="/js/navigation.js"></script>
